<div [@routerTransition]>

  <div class="row">
    <div class="col-md-9">
        <h1 class="participant-title" id='participantName'> 자격증 검색</h1>
    </div>
    <div class="col-md-3">
    <!-- <button class="btn btn-lg btn-success" (click)="open(content)"><span style="font-size: 14px;font-family: inherit;border-right:1px solid rgba(255,255,255,0.5);padding-right:0.6em;margin-right:0.5em;vertical-align:middle;">
        <svg class="plus-svg" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
          <path fill-rule="evenodd" d="M5.5,4.5 L9.5,4.5 L10,4.5 L10,5.5 L9.5,5.5 L5.5,5.5 L5.5,9.5 L5.5,10 L4.5,10 L4.5,9.5 L4.5,5.5 L0.5,5.5 L0,5.5 L0,4.5 L0.5,4.5 L4.5,4.5 L4.5,0.5 L4.5,0 L5.5,0 L5.5,0.5 L5.5,4.5 Z"/>
        </svg>
    </span>이력서 추가</button> -->
    </div>
  </div>
    <div class="row">
        <div style="margin-left: auto; margin-right: auto;">
          <div class="form-inline">
            <input placeholder="자격증 이름" class="form-control input-lg input" #place (keyup.enter)="place.value=''; language.value='';" />
            <input placeholder="점수" class="form-control input-lg input" #language (keyup.enter)="place.value=''; language.value='';" />
            <button class="btn btn-lg btn-info" (click)="loadOption(place.value, language.value); place.value=''; language.value='';">Search</button>
          </div>
        </div>
      </div>
      
      <table style="margin-left: auto; margin-right: auto;" >
          <thead class="thead">
          <tr class="thead-cols">
            
            <th class="info">자격증 이름</th>
        
            <th class="info">점수</th>

            <th class="info">인증기관 ID</th>

            <th class="info">인증기관 이름</th>

            <th class="info">발행일</th>

            <th class="info">만료일</th>

            <!-- <th class="info">공개여부</th> -->

            <!-- <th class="info">인증여부</th> -->
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">
      
            
            <td class="asset-properties">{{asset.certificateName}}</td>
      
            <td class="asset-properties">{{asset.certificateScore}}</td>

            <td class="asset-properties">{{asset.authorizedParticipantId}}</td>

            <td class="asset-properties">{{asset.organizationName}}</td>

            <td class="asset-properties">{{transferToDate(asset.dob)}}</td>

            <td class="asset-properties">{{transferToDate(asset.expirationDate)}}</td>

            <!-- <td class="asset-properties">{{asset.isPublic}}</td> -->
          </tr>
        </tbody>
      </table>
</div>