<div [@routerTransition]>
    <div class="row">
        <div class="col-md-9">
            <h1 class="participant-title" id='participantName'> 기관 리스트</h1>
        </div>
        <div class="col-md-3">
        <!-- <button class="btn btn-lg btn-success" (click)="open(content)"><span style="font-size: 14px;font-family: inherit;border-right:1px solid rgba(255,255,255,0.5);padding-right:0.6em;margin-right:0.5em;vertical-align:middle;">
            <svg class="plus-svg" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
              <path fill-rule="evenodd" d="M5.5,4.5 L9.5,4.5 L10,4.5 L10,5.5 L9.5,5.5 L5.5,5.5 L5.5,9.5 L5.5,10 L4.5,10 L4.5,9.5 L4.5,5.5 L0.5,5.5 L0,5.5 L0,4.5 L0.5,4.5 L4.5,4.5 L4.5,0.5 L4.5,0 L5.5,0 L5.5,0.5 L5.5,4.5 Z"/>
            </svg>
        </span>이력서 추가</button> -->
        </div>
      </div>
   
  <div class="row">
    

        <div class="card-body">
          
          
          <!-- <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">이력서 추가</h4>
              <p class="modal-intro"> * 입력칸은 반드시 채워주세요</p>

              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form [formGroup]="myForm2">
              <div class="modal-body">




                <div class="form-group text-left">
                  <label for="authorizedParticipantId">기업 ID*</label>

                  <input formControlName="authorizedParticipantId" type="text" class="form-control">

                </div>




                <div class="form-group text-left">
                  <label for="enterpriseName">기업 이름*</label>

                  <input formControlName="enterpriseName" type="text" class="form-control">

                </div>




                <div class="form-group text-left">
                  <label for="userPosition">직책</label>

                  <input formControlName="userPosition" type="text" class="form-control">

                </div>




                <div class="form-group text-left">
                  <label for="performingTask">수행업무*</label>

                  <input formControlName="performingTask" type="text" class="form-control">

                </div>




                <div class="form-group text-left">
                  <label for="dateOfEmployment">입사날짜 (ex.2000-01-01)</label>

                  <input formControlName="dateOfEmployment" type="text" class="form-control">

                </div>




                <div class="form-group text-left">
                  <label for="retirementDate">퇴사날짜 (ex.2000-01-01)</label>

                  <input formControlName="retirementDate" type="text" class="form-control">

                </div>




                <div class="form-group text-left">
                  <label for="isPublic">공개여부</label>

                  <input formControlName="isPublic" type="checkbox" class="form-control">

                </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                <button (click)="addTransaction(myForm2);" type="submit" class="btn btn-success" data-dismiss="modal" (click)="c('Close click')">확인</button>
              </div>
            </form>

          </ng-template> -->
        </div>
        </div>
       
        <table style="margin-left: auto; margin-right: auto;" >
            <thead class="thead">
                  <tr class="thead-cols">


                      <th class="info">기관ID</th>
                  
                      <th class="info">기관명</th>
                  
                      <th class="info">주소</th>
                  
                      <th class="info">연락처</th>
                  
                      <th class="info">홈페이지 주소</th>
                  
                      <th class="info">부가설명</th>
                  
                  
    
              </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let participant of allParticipants">
  
          
                      <td class="participant-properties">{{participant.orgId}}</td>
                  
                      <td class="participant-properties">{{participant.orgName}}</td>
                  
                      <td class="participant-properties">{{participant.address}}</td>
                  
                      <td class="participant-properties">{{participant.contactAdress}}</td>
                  
                      <td class="participant-properties">{{participant.homepage}}</td>
                  
                      <td class="participant-properties">{{participant.discription}}</td>
                  
                   </tr>
	       </tbody>
            </table>
          </div>
        

<ng-template #del let-c="close" let-d="dismiss">
  <div id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">

    <div class="modal-header">
      <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>

      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">

        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
      <div class="modal-body">
        삭제 하시겠습니까?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="d('Cross click')">아니오</button>
        <button (click)="c('Close click')" (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">예</button>
      </div>
    </form>

  </div>
</ng-template>

