<p>Enter the required values below.</p>
<form [formGroup]="myForm">
    <div class="modal-body">
        <div class="form-group text-left">
            <label for="entId">entId</label>
            <input formControlName="entId" type="text" class="form-control">
        </div>
        <div class="form-group text-left">
            <label for="entName">entName</label>
            <input formControlName="entName" type="text" class="form-control">
        </div>
        <div class="form-group text-left">
            <label for="address">address</label>
            <textarea formControlName="address" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group text-left">
            <label for="contactAdress">contactAdress</label>
            <input formControlName="contactAdress" type="text" class="form-control">
        </div>
        <div class="form-group text-left">
            <label for="homepage">homepage</label>
            <input formControlName="homepage" type="text" class="form-control">
        </div>
        <div class="form-group text-left">
            <label for="numberOfemployees">numberOfemployees</label>
            <input formControlName="numberOfemployees" type="text" class="form-control">
        </div>
        <div class="form-group text-left">
            <label for="sales">sales</label>
            <input formControlName="sales" type="text" class="form-control">
        </div>
        <div class="form-group text-left">
            <label for="industryCategory">industryCategory</label>
            <input formControlName="industryCategory" type="text" class="form-control">
        </div>
        <div class="form-group text-left">
            <label for="discription">discription</label>
            <input formControlName="discription" type="text" class="form-control">
        </div>

       
    </div>
    <button (click)="addParticipant(myForm);" type="submit" class="btn btn-success">Confirm</button>
</form>
