<div [@routerTransition]>
    <div class="row">
        <div class="col-md-9">
            <h1 class="participant-title" id='participantName'>  기업 리스트</h1>
        </div>
      </div>
  
      <table style="margin-left: auto; margin-right: auto;" >
          <thead class="thead">
              <tr class="thead-cols">

                  <th class="info">기업 ID</th>
      
                  <th class="info">기업명</th>
      
                  <th class="info">주소</th>
      
                  <th class="info">연락처</th>
      
                  <th class="info">홈페이지</th>
      
                  <th class="info">사원수</th>
      
                  <th class="info">매출액</th>
      
                  <th class="info">업종</th>
      
                  <th class="info">설명</th>
      
      
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let participant of allParticipants">



                    <td class="participant-properties">{{participant.entId}}</td>

                    <td class="participant-properties">{{participant.entName}}</td>
        
                    <td class="participant-properties">{{participant.address}}</td>
        
                    <td class="participant-properties">{{participant.contactAdress}}</td>
        
                    <td class="participant-properties">{{participant.hompage}}</td>
        
                    <td class="participant-properties">{{participant.numberOfemployees}}</td>
        
                    <td class="participant-properties">{{participant.sales}}</td>
        
                    <td class="participant-properties">{{participant.industryCategory}}</td>
        
                    <td class="participant-properties">{{participant.discription}}</td>
        
  

                </tr>
              </tbody>
            </table>
         </div>


