<div [@routerTransition]>

  <div class="row">
    <div class="col-md-9">
      <h1 class="participant-title" id='participantName'>유저 리스트</h1>
    </div>
  </div>
  <div class="row">
   
      <div class="card mb-3">

        <!-- <div class="card-body">
                    <button class="btn btn-primary" (click)="open(content)">유저 추가</button>
                    <ng-template #content let-c="close" let-d="dismiss">
                        <div class="modal-header">
                            <h4 class="modal-title">유저 추가</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form [formGroup]="myForm">
                          <div class="modal-body">
                  
                  
                            
                  
                              
                                <div class="form-group text-left">
                                  <label for="userId">userId</label>
                                  
                                    <input formControlName="userId" type="text" class="form-control">
                                  
                                </div>
                              
                            
                  
                              
                                <div class="form-group text-left">
                                  <label for="userName">userName</label>
                                  
                                    <input formControlName="userName" type="text" class="form-control">
                                  
                                </div>
                              
                            
                  
                              
                                <div class="form-group text-left">
                                  <label for="dob">dob</label>
                                  
                                    <input formControlName="dob" type="text" class="form-control">
                                  
                                </div>
                              
                            
                  
                              
                                <div class="form-group text-left">
                                  <label for="address">address</label>
                                  
                                      <textarea formControlName="address" class="form-control" rows="3"></textarea>
                                  
                                </div>
                              
                            
                  
                              
                                <div class="form-group text-left">
                                  <label for="phoneNumber">phoneNumber</label>
                                  
                                    <input formControlName="phoneNumber" type="text" class="form-control">
                                  
                                </div>
                              
                            
                  
                              
                                <div class="form-group text-left">
                                  <label for="email">email</label>
                                  
                                    <input formControlName="email" type="text" class="form-control">
                                  
                                </div>
                              
                            
                  
                              
                                <div class="form-group text-left">
                                  <label for="isPublic">isPublic</label>
                                  
                                    <input formControlName="isPublic" type="checkbox" class="form-control">
                                  
                                </div>
                              
                            
                  
                              
                                <div class="form-group text-left">
                                  <label for="isHuntingForJob">isHuntingForJob</label>
                                  
                                    <input formControlName="isHuntingForJob" type="checkbox" class="form-control">
                                  
                                </div>
                              
                            
                  
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button (click)="addParticipant(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Confirm</button>
                  
                          </div>
                        </form>
                        
                    </ng-template>
         
    </div>  -->
</div>
</div>
   
              <table style="margin-left: auto; margin-right: auto;" >
                  <thead class="thead">
                <tr class="thead-cols">

                  <th class="info">유저ID</th>

                  <th class="info">유저명</th>

                  <th class="info">생년월일</th>

                  <th class="info">주소</th>

                  <th class="info">연락처</th>

                  <th class="info">메일주소</th>

                  <th class="info">공개여부</th>

                  <th class="info">구직상태</th>

                  <!-- <th class="info-actions">Actions</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let participant of allParticipants">


                  <td class="participant-properties">{{participant.userId}}</td>

                  <td class="participant-properties">{{participant.userName}}</td>

                  <td class="participant-properties">{{transferToDate(participant.dob)}}</td>

                  <td class="participant-properties">{{participant.address}}</td>

                  <td class="participant-properties">{{participant.phoneNumber}}</td>

                  <td class="participant-properties">{{participant.email}}</td>

                  <td class="participant-properties">{{participant.isPublic}}</td>

                  <td class="participant-properties">{{participant.isHuntingForJob}}</td>

                </tr>
              </tbody>
            </table>
          </div>
   