<div [@routerTransition]>
        <!-- <h3 class="text">뉴스 기사</h3>
        
          <div class="row">
              <div class="col-md-12">
                  <ngb-carousel>
                      <ng-template ngbSlide *ngFor="let slider of sliders">
                          <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" 
                          width="100%">
                          
                          <div class="carousel-caption">
                                  <a href="{{slider.text}}"><h5>자세히보기</h5></a>
                          </div>
                      </ng-template>
                  </ngb-carousel>
              </div>
          </div>
          
          <hr /> -->
          <div class="row">
              <div class="col col-sm-6">
                  <div class="card mb-3">
                      <div class="card-header">
                          최신 비율
                      </div>
                      <div class="card-body">
                          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                          </canvas>
                      </div>
                      <div class="card-footer">
                          <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
                      </div>
                  </div>
              </div>
              <div class="col col-sm-6">
                  <div class="card mb-3">
                      <div class="card-header">
                          통계
                      </div>
                      <div class="card-body">
                          <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                          </canvas>
                      </div>
                  </div>
              </div>
          </div>
              
            <div class="row">
              <div class="col-xl-3 col-lg-6">
                  <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'New task!'" ></app-stat>
              </div>
              <div class="col-xl-3 col-lg-6">
                  <app-stat [bgClass]="'warning'" [icon]="'fa-comments'" [count]="12" [label]="'New task!'" ></app-stat>
              </div>
              <div class="col-xl-3 col-lg-6">
                  <app-stat [bgClass]="'success'" [icon]="'fa-comments'" [count]="124" [label]="'New Orders!'" ></app-stat>
              </div>
              <div class="col-xl-3 col-lg-6">
                  <app-stat [bgClass]="'danger'" [icon]="'fa-comments'" [count]="13" [label]="'New Tickets!'"></app-stat>
              </div>
          </div>  
          <!--
          <hr />
          <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
          <hr />
          <div class="row">
              <div class="col-lg-8">
                  <div class="card card-default">
                      <div class="card-header">
                          <i class="fa fa-clock-o fa-fw"></i> 타임라인~
                      </div>
                      <app-timeline></app-timeline>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="card card-default mb-3">
                      <div class="card-header">
                          <i class="fa fa-bell fa-fw"></i> Notifications card
                      </div>
                      <app-notification></app-notification>
                  </div>
      
                  <app-chat></app-chat>
              </div>
          </div>
      </div> -->
      